@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(92, 160, 216);
    font: normal 15pt arial;
}
header{
    padding: 20px;
    text-align: center;
    color: white;
}
section{
    text-align: center;
    margin: auto;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
}
footer{
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    color:white;
}
div#msg{
    padding: 10px;
}
div#foto{
    padding: 10px;
}
.img{
    width: 300px;
    border: none;
    border-radius: 50%;
}
