@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(92, 160, 216);
    font: normal 15pt arial;
}
header{
    text-align: center;
    color: white;
}
section{
    margin: auto;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
}
footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    color: white;
}
div{
    padding: 10px;
}
p{
    padding: 10px 0;
}
input[type=button] {
    background-color: cadetblue;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    width: 150px;
    height: 45px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.527);
}
input[type=button]:hover{
    background-color: rgb(39, 93, 194);
}
.div-img{
    border: none;
    border-radius: 50%;
}